{include file="index/meta" /}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页
    <span class="c-gray en">&gt;</span>
    站点管理
    <span class="c-gray en">&gt;</span>
    站点列表
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a class="btn btn-primary radius" onclick="addSite()" href="javascript:;">
				<i class="Hui-iconfont">&#xe600;</i>
				新增站点
			</a>
		</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="60">ID</th>
                <th>站点名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $data as $k=>$v}
            <tr>
                <td style="text-align: center;">{$v['id']}</td>
                <td style="text-align: center;">{$v['name']}</td>
                <td style="text-align: center;"><a href="javascript:;" onclick="delSite({$v['id']})">删除</a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="/static/h-ui//lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script>
    //新增弹窗
    function addSite() {
        var title = '新增站点';
        var url = "{:url('/index/site/add')}";
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    //删除站点
    function delSite(id) {
        var url = "{:url('/index/site/del')}";
        $.ajax({
            url: url,
            data: {
                'id': id
            },
            dataType: 'json',
            type: 'POST',
            success: function (data) {
                layer.msg(data.msg);
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            }
        });
    }
</script>
{include file="index/footer" /}